*{
    font-family: cursive;
}
#box{
    background-color: blue;
    color:orange;
}
.Heading{
    color: red;
}
button{
    color: chocolate;
    background-color: aqua;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}